<div class="center-container">
  <div class="outer-container">
    <div class="inner-container">
      <div class="form-container">
        <div class="formContainer-header">
          <div class="title">
            <span>Mis Tareas</span>
          </div>
          <div class="addtask-container" (click)="toggleForm()">
            <button class="task-btn">
              <span class="material-symbols-outlined"> add_task </span>
            </button>
            <span class="addtask-text">Agregar una tarea</span>
          </div>
        </div>
        <form
          [formGroup]="taskForm"
          *ngIf="showForm"
          (keydown.enter)="pushtasks()"
        >
          <div class="formHeader">
            <input
              #titleInput
              class="task-title"
              type="text"
              placeholder="Título"
              formControlName="title"
            />
            <input
              class="task-descrip"
              name=""
              placeholder="Descripción"
              formControlName="descrip"
            />
          </div>
          <div class="formDetails">
            <div
              class="today"
              *ngIf="selectedDateType !== 'tomorrow' && selectedDateType !== 'calendar'"
            >
              <input
                id="today"
                type="checkbox"
                class="checkToday"
                formControlName="date"
                placeholder="Hoy"
                [checked]="selectedDateType === 'today'"
                (change)="setTaskDate('today')"
              />
              <label for="today" class="todayToggle">Hoy</label>
            </div>

            <div
              class="tomorrow"
              *ngIf="
                selectedDateType !== 'today' && selectedDateType !== 'calendar'
              "
            >
              <input
                id="tomorrow"
                type="checkbox"
                class="checkTomorrow"
                formControlName="date"
                [checked]="selectedDateType === 'tomorrow'"
                (change)="setTaskDate('tomorrow')"
              />
              <label for="tomorrow" class="tomorrowToggle">Mañana</label>
            </div>
            <div
              class="calendar"
              *ngIf="
                selectedDateType !== 'today' && selectedDateType !== 'tomorrow'
              "
            >
              <input
                id="calendar"
                type="checkbox"
                class="checkCalendar"
                formControlName="date"
                [checked]="selectedDateType === 'calendar'"
                (change)="setTaskDate('calendar')"
              />
              <label for="calendar" class="calendarToggle"
                ><span class="material-symbols-outlined">
                  calendar_month
                </span></label
              >
            </div>
          </div>
        </form>
      </div>

      <div class="task-dump">
        <div class="noTask" *ngIf="tasks.length === 0 && !showForm">
          <div class="messageMain">
            <span>{{ showMessage().main }}</span>
          </div>
          <div class="messageSub">
            <span>{{ showMessage().sub }}</span>
          </div>
        </div>

        <ul class="task-container">
          <li class="task" *ngFor="let task of tasks">
            <div class="task-details-container">
              <div class="check-container">
                <input
                  class="check"
                  type="checkbox"
                  (click)="estateCheck(task)"
                />
              </div>
              <div class="task-details">
                <span class="title">{{ task.title }}</span>
                <span class="descrip">{{ task.descrip }}</span>
              </div>
            </div>
            <button class="btn-delete" (click)="deleteTask(task)">
              Borrar
            </button>
          </li>
        </ul>

        <div class="completeTask-container" *ngIf="completedtasks.length > 0">
          <div class="completedTask-header" (click)="toogleCompletedTask()">
            <div class="buttonContainer">
              <button>
                <span
                  class="material-symbols-outlined"
                  *ngIf="!showCompletedTask"
                >
                  keyboard_arrow_right
                </span>
                <span
                  class="material-symbols-outlined"
                  *ngIf="showCompletedTask"
                >
                  keyboard_arrow_down
                </span>
              </button>
            </div>
            <div class="titleContainer">
              <span class="title">Completadas</span>
            </div>
            <div class="completedTaskCount" *ngIf="completedtasks.length > 0">
              <span>({{ completedTaskCount() }})</span>
            </div>
          </div>
          <ul class="completedTask-dump" *ngIf="showCompletedTask">
            <li class="completed-task" *ngFor="let task of completedtasks">
              <div class="completedTask-details-container">
                <div class="check-container">
                  <input
                    class="check"
                    type="checkbox"
                    [checked]="task.complete"
                    (click)="estateCheck(task)"
                  />
                </div>
                <div class="completedTask-details">
                  <span class="title">{{ task.title }}</span>
                  <span class="descrip">{{ task.descrip }}</span>
                </div>
              </div>
              <button class="btn-delete" (click)="deleteTask(task)">
                Borrar
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
